
.tieude { color: tomato; 
         font-weight: bold; 
         font-size: 22pt;}
.noidung { color: black;
         font-weight: normal;
         font-size: 12pt;}
          
.container{
         display: flex;
         flex-direction: column;
         height: 100vh;
}
.header{
         flex:15%;
         background-color: lightgray;
}
.menu{
         flex:5%;
         background-color: darkgray;
}
.content{
         flex:70%;
         background-color: white;
}
.footer{
         flex:10%;
         background-color: lightgray;
}
